.navbar{
    font-size: 35px;
    color: brown;
    background-color: darkgrey;
}

h2{
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    color: #bfbfbf;
    font-weight: 300;
}

h1{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.5rem;
    text-shadow: 2px 2px red;
}

p{
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", Arial, sans-serif;
    color: #999999;
}

img{
    margin-top: 60px;
    background-image: url(./hasso.jpeg);
    width: 260px;
    height: 260px;
    float: right;
    /* margin: 0 auto; */
    /* border-radius: 50%; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* margin-bottom: 1.5rem ; */
    /* box-sizing: border-box; */
    /* border: 400px; */
    border-radius: 60%;
}

.icon{
    margin-left: 500px;
    font-size: 35px;
}