.main_div{
    display: flex;
    margin-right: 60px;
    margin-left: 30px;
    border-bottom: 1px solid black;
}

.parent p{
    font-style: italic;
}

.parent h1{
    font-family: Arial, Helvetica, sans-serif;
}

.child{
    margin-left: auto;
}

.child_P1{
    color: white;
    background-color: rgb(105, 103, 103);
    padding: 10px;
}
.child_P2{
    color: red;
    text-decoration: underline;
}

.section_2{
    display: flex;
    margin-left: 30px;
    margin-right: 65px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
.section_2_content {
     width: 85%;
     margin-left: 60px;
}

.section_3{
    display: flex;
    margin-left: 30px;
    margin-right: 100px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-top: 10px;

}

.section_3_first{
    margin-left: 65px;
    text-align: justify;
}

.section_3_second{
    margin-left: 65px;
    text-align: justify;
}

.section_3_third{
    margin-left: 65px;
    text-align: justify;
}

.section_4{
    display: flex;
    margin-left: 30px;
    margin-right: 60px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.section_4_second{
    margin-left: 2em;
}

.section_4_third{
margin-left: 20em;
}

.section_4_fourth{

    margin-left: 19em ;
}

.section_5{
    display: flex;
    margin-left: 30px;
    margin-right: 50px; 

}

.section_5_second{
    margin-left: 30px; 
}

.section_5_third{
    margin-left:auto ; 
}

.facebook{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sec_5_lorem{
    margin-left: 8em;
    width: 70%;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;

}

.section_6{
    display: flex;
    margin-left: 30px;
    margin-right: 50px; 

}

.section_6_second{
    margin-left: 6em 
}

.Apple{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.section_6_third{
    margin-left: auto;
}

.sec_6_lorem{
    margin-left: 8em;
    width: 70%;
    margin-top: -20px;
    padding-bottom: 30px;

}