.navbar i{
    font-size: 19px;
    margin: 10px;
    
 }
 
 .navbar ul li{
     font-size: 14px;
     margin-right: 10px;
     font-weight: 400;
 }
 
 .navbar a{
     cursor: pointer;
 }

 .firstBtn{
    margin: 500px;
    padding-left: 10px;


    
 }
 
 
 
 .img{
 background-image: url('images/mainimg.webp');
 height: 100vh;
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
      
 }
 
 .footer{
     background-color: #f5f0f0ec;
 
     color: rgb(192, 182, 182);
 }
 
 .sec1-text{
     padding-bottom: 25px;
     border-bottom: 1px solid rgb(216, 207, 207);
 }
 
 .footer h6{
     font-size: 13px;
     
 }
 
 .tectDec p{
     font-size: 15px;
     color: rgba(31, 27, 27, 0.459);
     cursor: pointer;
 }
 
 .section2 {}



 p{
    color: black;
    margin-left: 90px;
 }